* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  nav {
    position: fixed; /* Fija el navbar en la parte superior */
    width: 75%; /* Ocupa todo el ancho */
    top: 0; /* Fija en la parte superior */
    margin-top: 75px;
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    display: flex;
  }
  

  .logo {
    display: flex;
    justify-content: flex-start;
    background-color: aqua;

  }
 
  .nav-space{
    flex-grow: 1; 
    background-color: bisque;
   }


  .nav-links {
    display: flex;
    justify-content: space-between; /* Centra el menú dentro de su contenedor */
    width: 900px;
    background-color: aqua; 
  }

  .nav-links a {
    text-decoration: none;
  }

  
  .nav-links a:hover {
    background-color: #D2B400; /* Cambia el color de fondo al pasar el mouse */
    color: #FFF; /* Asegura que el texto siga siendo blanco */
  }
  
 
  
  