* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  
  nav {
    width: 30%;
    height: 40px;
    border-radius: 15px;
    justify-content: space-between;
    background-color: #E6CA20; 
    position: fixed; 
    top: 0; 
    margin-top: 55px;
    display: flex;
    align-items: center;
  }
  

  .nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
  }

  .nav-links a {
    text-decoration: none;
    color:black
  }

  .nav-links button {
    background: none;       
    border: none;           
    color: black;           
    font: inherit;          
    text-decoration: none;  
    cursor: pointer;        
    padding: 0;            
    margin: 0;             
  }
  
  .nav-links button:hover {
    text-decoration: underline;
    color: #fff 
  }
  
  .nav-links button:focus {
    outline: none;          
  }

  .nav-links a:hover {
    color: #FFF; 
  }
  
 
  
  